name: "Terraform CI/CD"

on:
  push:
    branches: [ main ]
  pull_request:

# CRITICAL: This allows GitHub to request the OIDC JWT token
permissions:
  id-token: write   
  contents: read    

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # The "Secretless" Login
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::416957693135:role/docker-tutorial # PASTE YOUR ARN HERE
          aws-region: eu-west-3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan