name: "Terraform CI/CD"

on:
  push:
    branches: [ main ]
  pull_request:

# CRITICAL: This allows GitHub to request the OIDC JWT token
permissions:
  id-token: write   
  contents: read    

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

        # 1. TFLint
      - uses: terraform-linters/setup-tflint@v4
      - name: Run TFLint
        run: |
          tflint --init
          tflint -f compact

      # 2. Checkov (Security Scan)
      - name: Run Checkov
        uses: bridgecrewio/checkov-action@master
        with:
          directory: .
          framework: terraform
          soft_fail: false # Set to true if you don't want it to block the build

      # 3. Infracost (Cost Estimate)
      - name: Setup Infracost
        uses: infracost/actions/setup@v3
        with:
          api-key: ${{ secrets.INFRACOST_API_KEY }}
      - name: Generate Infracost estimate
        run: infracost breakdown --path .

      # The "Secretless" Login
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: arn:aws:iam::416957693135:role/docker-tutorial # PASTE YOUR ARN HERE
          aws-region: eu-west-3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
      - name: Select Terraform workspace
        run: |
          terraform workspace select dev || terraform workspace new dev

      - name: Terraform Plan
        run: terraform plan